body {
background-image: url(/images/back.jpg);
background-repeat: no-repeat;// 设定背景图片非重复填充
background-attachment: fixed;// 设置背景图片不随页面滚动
background-position: 50% 50%;// 设置背景图片位置
background-size: cover
}
// 侧边标题栏
.header-inner {
  opacity: 0.85;  
}

// 侧边头像栏
.sidebar {
  opacity: 0.85;  // 透明度
}
// 中心文章栏
.post-block {
  position: relative;
  opacity: 0.9;
}
